<%= stylesheet_link_tag 'whatsapp', media: 'all', 'data-turbo-track': 'reload' %>
<p class="<%= message.user_id == current_user.id ? 'my-message' : 'other-message' %>">
  <%= message.body %><br>
  <small><%= message.created_at.strftime('%I:%M:%S %p') %></small>
</p>
