<!-- app/views/board_members/show.html.erb -->

<h1>Board_members Details</h1>

<dl>
  <dt>Name:</dt>
  <dd><%= @board_members.name %></dd>

  <dt>Email:</dt>
  <dd><%= @board_members.email %></dd>

  <!-- Add more attributes to display as needed -->
</dl>
