<div id="<%= dom_id loom_legacy %>">
  <p>
    <strong>Name:</strong>
    <%= loom_legacy.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= loom_legacy.description %>
  </p>

</div>
