<h1>Editing loom legacy</h1>

<%= render "form", loom_legacy: @loom_legacy %>

<br>

<div>
  <%= link_to "Show this loom legacy", @loom_legacy %> |
  <%= link_to "Back to loom legacies", loom_legacies_path %>
</div>
