<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOOM-LEGACY</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <header>
        <div class="container">
            <h1>LOOM-LEGACY</h1>
        </div>
    </header>

    <section id="home" class="welcome">
    <div class="container">
        <h1>WELCOME TO LOOM-LEGACY</h1>
    </div>
    </section>
    <section id="departments" class="departs">
    <div class="container">
        <h2>PLEASE SELECT YOUR POSITION</h2><br>
        <div class="departments-grid">
        <a href="<%= new_hr_manager_session_path %>">
        <div class="ceo"></div>
        <h3>HR Manager</h3>
    </a>
    <a href="<%= new_recruitment_specialist_session_path %>">
        <div class="board-member"></div>
        <h3>Recruitment Specialist</h3>
    </a>
    <a href="<%= new_training_and_development_officer_session_path %>">
        <div class="chairman-of-board"></div>
        <h3>Training and Development Officer</h3>
    </a>
    
            
        </div>
    </div>
</section>


    <footer>
        <div class="container">
            <p>&copy; 2024 LOOM-LEGACY. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
