<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOOM-LEGACY</title>
    <link rel="stylesheet" href="application.css">
</head>
<body>
    <header>
   
        <div class="container">
            <h1>WELCOME TO LOOM-LEGACIES LOGIN PAGE <br>PLEASE SELECT YOUR DEPARTMENT</h1>
        </div>
    </header>
    <section id="departments" class="departs">
    <div class="container">
        
        <div class="departments-grid">
        <a href="<%= new_ceo_session_path %>">
        <div class="ceo"></div>
        <h3>EXECUTIVE</h3>
        </a>
    
            <a href="/loom_legacies/board_members">
                <div class="board-member"></div>
                <h3>BOARD MEMBER</h3>
            </a>
            <a href="/loom_legacies/stake_holders">
                <div class="chairman-of-board"></div>
                <h3>STAKE HOLDER</h3>
            </a>
            <a href="/loom_legacies/Production_Department">
                <div class="pd"></div>
                <h3>PRODUCTION DEPARTMENT</h3>
            </a>
            <a href="/loom_legacies/Quality_Control_and_Assurance">
                <div class="qc"></div>
                <h3>QUALITY CONTROL AND aSSURANCE</h3>
            </a>
            <a href="/loom_legacies/Research_and_Development">
                <div class="rd"></div>
                <h3>RESEARCH AND DEVELOPMENT(R&D)</h3>
            </a>
            <a href="/loom_legacies/Design_Department">
                <div class="dd"></div>
                <h3>DESIGN DEPARTMENT</h3>
            </a>
            <a href="/loom_legacies/Maintenance_Department">
                <div class="md"></div>
                <h3>MAINTENANCE DEPARTMENT</h3>
            </a>
            <a href="/loom_legacies/Procurement_and_Supply_Chain_Management">
                <div class="psc"></div>
                <h3>PROCUREMENT AND SUPPLY CHAIN</h3>
            </a>
            <a href="/loom_legacies/Human_Resources_HR">
                <div class="hr"></div>
                <h3>HUMAN RESOURCE(HR)</h3>
            </a>
            <a href="/loom_legacies/Finance_and_Accounting">
                <div class="fa"></div>
                <h3>FINANCE AND ACCOUNTING</h3>
            </a>
            <a href="/loom_legacies/Sales_and_Marketing">
                <div class="sm"></div>
                <h3>SALES AND MARKETING</h3>
            </a>
            <a href="/loom_legacies/Information_Technology_IT">
                <div class="it"></div>
                <h3>INFORMATION TECHNOLOGY(IT)</h3>
            </a>
            <a href="/loom_legacies/Logistics_and_Distribution">
                <div class="ld"></div>
                <h3>LOGISTICS AND DISTRIBUTIONS</h3>
            </a>
            <a href="/loom_legacies/Compliance_and_Regulatory_Affairs">
                <div class="cra"></div>
                <h3>CCOMPLIANCE AND REGULATORY</h3>
            </a>
            <a href="/loom_legacies/Customer_Service">
                <div class="cs"></div>
                <h3>CUSTOMER SERVICE</h3>
            </a>
            <a href="/loom_legacies/Planning_and_Control">
                <div class="pc"></div>
                <h3>PLANNING AND CONTROL</h3>
            </a>
            <a href="/loom_legacies/Administration">
                <div class="admin"></div>
                <h3>ADMINISTRATION</h3>
            </a>
        </div>
    </div>
</section>


    <footer>
        <div class="container">
            <p>&copy; 2024 LOOM-LEGACY. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>
