<p><%= button_to 'Logout', destroy_ceo_session_path, method: :delete %></p>
<p><%= link_to 'Sign Up as CEO', new_ceo_registration_path %></p>
<p><%= link_to 'Log In as CEO', new_ceo_session_path %></p>


