body {

    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
    
    flex-direction: column;
    
}
.content {

  background-color: #343a40;
}


#navbar {
    background-color: #343a40;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}

#sidebar {
    min-width: 250px;
    max-width: 310px;
    height: calc(100vh - 56px); 
    position: fixed; 
    top: 56px; 
    left: 0;
    background: #343a40;
    color: #fff;
    overflow-y: auto; 
    z-index: 500; 
}

#content {
    margin-left: 300px;
    flex: 1;
    background-color:  #343a40;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #495057;
  margin-left: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  background: #343a40;
  color: black;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #495057;
  z-index: 1000; 
  height: 75px;
}

.logo-link {
  text-decoration: none;
}
svg {
  display: inline-block;
  
}
.logo {
  height: 72px;
  width: 150px;
  justify-content: center;
  border: 1px solid #495057;
  border-radius: 10px;
}

nav {
  display: flex;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #495057;
  margin-left: 10px;
  border-radius: 4px;
  transition: background-color 0.3s, border-color 0.3s;
}

.menu-item:hover {
  background-color: #495057;
  border-color: #adb5bd;
}



.nav-link:hover {
  background-color: #495057;
    
  border-color: #adb5bd;
}

.chart {
    text-align: center;
}

.dashboard {
    width: 100%;
    color: black;
    margin: 0 auto;
    background: #343a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

.kpi {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    text-align: center;
}

.kpi h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}

.kpi .value {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    margin: 0 0 10px;
}

.kpi .description {
    margin: 0;
    font-size: 14px;
    color: #777;
}
.logo-link {
  text-decoration: none;
  color: #333;
  color: white;

}