.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Width set to 70% of the screen width */
  max-width: 600px; /* Optional: Max width to prevent it from being too wide on larger screens */
  background: rgba(255, 255, 255, 0); /* Fully transparent background */
  backdrop-filter: blur(10px); /* Optional: Apply blur effect */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Slight shadow to stand out from background */
  box-sizing: border-box;
  max-height: 80vh; /* 80% of the viewport height */
  overflow-y: auto;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Ensure there's no scrolling */
  background-color: #797171; /* Black background */
}

.parallax {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2; /* Ensure this is on top of the 3D scene */
  position: relative; /* To position the content on top */
}

.content {
  background-color:transparent;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 3; /* Ensure content is above the sphere */
  position: relative; /* To ensure proper stacking */
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 30px;
}

.card {
  background-color: #c4aeae;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Set up the canvas for Three.js */
#threejs-container {
  position: fixed; /* Ensures it stays in place */
  background-color: black;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1; /* Sphere behind the content */
}

.form-title {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  text-align: center;
}

.form-field {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.9);
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-actions {
  margin-top: 20px;
}

.form-submit {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
