<h1>Editing admin panel</h1>

<%= render "form", admin_panel: @admin_panel %>

<br>

<div>
  <%= link_to "Show this admin panel", @admin_panel %> |
  <%= link_to "Back to admin panels", admin_panels_path %>
</div>
