<!-- app/views/cad_designers/show.html.erb -->

<h1>Cad_designers Details</h1>

<dl>
  <dt>Name:</dt>
  <dd><%= @cad_designers.name %></dd>

  <dt>Email:</dt>
  <dd><%= @cad_designers.email %></dd>

  <!-- Add more attributes to display as needed -->
</dl>
